<h1>Welcome! Please Signup!</h1>

<p><%= flash[:error] %></p> <!--see notepad-->

<%= form_for @user do |f|%>
    <%= f.label :username %>: <%= f.text_field :username %><br>
    
    <p>Are you an admin?</p>
    <%= f.label :admin, "Yes", :value => "true" %>
    <%= f.radio_button :admin, true %>
    <%= f.label :admin, "No", :value => "false" %>
    <%= f.radio_button :admin, true %><br>

    <%= f.label :password %>: <%= f.password_field :password %><br>

    <%= f.submit "Sign Up" %>
<% end %>