<p><%= flash[:error] %></p>

<%= form_for @rebate do |f| %>
<%= f.label :rebate_name %>: <%= f.text_field :rebate_name %><br>

<%= f.label :description %>:<br>
<%= f.text_area :description %><br>

<%= f.submit "Submit" %>
<% end %>